.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, #9999cc, #4e57cb )
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: px;
}
#Name{
  border: solid 0.5px;
  border-radius: 15px;
}
#Userame{
  border: solid 0.5px;
  border-radius: 15px;
}
#Email{
  border: solid 0.5px;
  border-radius: 15px;
}

#form{
  border: solid;
  background: linear-gradient(to bottom right, #9999cc, #4e57cb );
  width: 1000px;
  height: 1000px;

}
.nav__menu {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
#navbarNav{
  display: flex!important;
    flex-basis: auto;
    justify-content: space-between;
}
.nav-admin {
  display: flex;
  list-style: none;
}
#stars-hotel{
  width: 25px;
}
#form-outline{
  width: 50%;
  text-align: initial;
  margin: 10px;

}
#stars{
  border: solid 1px;
}
.afficher-hotel{
  color: #051367;
}
.admin-dashb{
  display: flex;
  flex-direction: column;
 
  
  background:#92badd ;
  width: 500px;
  height: 1000px;
  justify-content: space-around;
  align-items: center;
}
#navbar{
  background-color: #92badd;
  
}
#nav-admin{
  display: flex;
  flex-direction: column;
    list-style: none;
    height: 200px;
  
    justify-content: space-around;
} 
.nav-admin li{
  background-color:  #013F96;
  width: 300px;
  border: solid 1px;
  border-radius: 100px 40px 110px 40px;
  box-shadow: rgba(128, 118, 118, 0.56) 0px 22px 70px 4px;
}
.nav-admin li a {
color: #1b1b1e;
font-size: 20px;

}
.nav-admin li  :hover {
  color: #c8c8e0;
  
  }
.afficher-hotel{
  width: 50%;
  border: solid 1px;
  border-radius: 50px 77px 50px 77px;
}

/*                  owner        */

.main-owner{
display: flex;
justify-content: space-between;
}
.information-owner{
  width: 1900px;
    border: solid 0.01px #051367;
    background-image: url(./compenent/ownerDashbord/img-hotel/pexels-konstantinos-eleftheriadis-2034335.jpg);
    background-size: 100%;
}
.form-input{
  width: 40%;
}
.image-form{
  background-image: url(./compenent/ownerDashbord/img-hotel/téléchargement.png);
  height: 215px;
  width: 215px;
  border-radius: 40px;
  margin-left: 20px;
}
.form-complet{
display: flex;
justify-content: center;
align-items: center;
}