.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, #9999cc, #4e57cb )
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: px;
}
#Name{
  border: solid 0.5px;
  border-radius: 15px;
}
#Userame{
  border: solid 0.5px;
  border-radius: 15px;
}
#Email{
  border: solid 0.5px;
  border-radius: 15px;
}

#form{
  border: solid;
  background: linear-gradient(to bottom right, #9999cc, #4e57cb )

}
.nav__menu {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
#navbarNav{
  display: flex!important;
    flex-basis: auto;
    justify-content: space-between;
}
.nav-admin{
  display: flex;
}